/* css globale */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.light-theme {
    --bg-color: #f0f8ff;
    --text-color: #000;
    --navbar-bg: #ffffff;
    --navbar-text-color: #000;
    --link-color: #ff6347;
    --link-hover-color: #4682b4;
    --card-bg-color: #fff;
    --card-border-color: #ddd;
    --flash-sale-bg: #ffd700;
    --new-label-bg: #9370db;
    --card-shadow: rgba(0, 0, 0, 0.1);
    --badge-color: #fff;
    --folder-description-bg: #f8f9fa;
    --folder-description-text: #000;
}

.dark-theme {
    --bg-color: #2b2b2b;
    --text-color: #f0f8ff;
    --navbar-bg: #333;
    --navbar-text-color: #f0f8ff;
    --link-color: #87cefa;
    --link-hover-color: #b22222;
    --card-bg-color: #3a3a3a;
    --card-border-color: #444;
    --flash-sale-bg: #ffd700;
    --new-label-bg: #9370db;
    --card-shadow: rgba(255, 255, 255, 0.1);
    --badge-color: #f0f8ff;
    --folder-description-bg: #333;
    --folder-description-text: #fff;
}

.navbar {
    background-color: var(--navbar-bg);
}

.navbar-brand,
.nav-link {
    color: var(--navbar-text-color) !important;
}

.nav-link:hover {
    color: var(--link-hover-color) !important;
}

.dropdown-menu {
    background-color: var(--navbar-bg);
}

.dropdown-item {
    color: var(--navbar-text-color) !important;
}

.dropdown-item:hover {
    background-color: var(--link-hover-color) !important;
    color: var(--text-color) !important;
}

.vr {
    border-left: 1px solid var(--navbar-text-color);
    height: 40px;
    margin: 0 15px;
}

.container {
    margin-top: 40px;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--card-shadow);
    border: 1px solid var(--card-border-color);
    background-color: var(--card-bg-color);
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.card-body {
    background-color: var(--card-bg-color);
}

.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--badge-color);
}

.dark-theme .card-title,
.dark-theme .card-text {
    color: #f0f8ff;
}

.dark-theme .video-title {
    color: #f0f8ff;
}

.card-img-top {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
}

.card-title,
.card-text {
    text-align: center;
}

.card-text {
    margin-top: 30px;
}

.card-section {
    margin-bottom: 20px;
}

.icon-action {
    margin-left: 10px;
    cursor: pointer;
    color: gray;
    font-size: 0.8em;
}

.icon-action:hover {
    color: var(--link-hover-color);
}

.btn-yellow {
    background-color: #ffd700;
    color: #000;
    border: none;
}

.btn-yellow:hover {
    background-color: #e6be00;
    color: #000;
}

.icon-action.text-warning {
    color: gray !important;
}

@media (min-width: 900px) {
    #detailsFormation {
        overflow-y: hidden;
    }
}

#detailsFormation .sidebar {
    background-color: var(--bg-color) !important;
    height: calc(100vh - 56px) !important;
    overflow-y: auto !important;
    padding: 20px !important;
    border-right: 1px solid var(--card-border-color) !important;
}

#detailsFormation .video-item {
    cursor: pointer !important;
    padding: 10px 0 !important;
    border-bottom: 1px solid var(--card-border-color) !important;
    transition: background-color 0.2s, transform 0.2s !important;
}

#detailsFormation .video-item:hover {
    background-color: #d0e7ff !important;
    transform: translateX(5px) !important;
}

#detailsFormation .video-title {
    margin-bottom: 0 !important;
    font-size: 1rem !important;
    color: var(--text-color) !important;
}

#detailsFormation .video-title:hover {
    text-decoration: underline !important;
}

#detailsFormation .video-container {
    background: var(--bg-color) !important;
    padding: 20px !important;
    height: calc(100vh - 56px) !important;
    overflow: hidden !important;
}

#detailsFormation .iframe-container { 
    position: relative !important;
    width: 95% !important;
    padding-bottom: 53% !important; 
    margin: auto !important; 
    max-width: 95% !important; 
}

#detailsFormation .iframe-container iframe {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 85% !important;
}

#detailsFormation .content-header {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 10px 0 !important;
    border-bottom: 1px solid var(--card-border-color) !important;
    margin-bottom: 20px !important;
}

#detailsFormation  .content-header h2 {
    margin: 0 !important;
}

#dashboardClient .folder-list {
    display: flex !important;
    flex-wrap: wrap !important;
    gap: 1.5rem !important;
    justify-content: space-between !important;
    margin-top: 1.5rem !important;
}

#dashboardClient .folder-container {
    flex: 0 0 calc(33.333% - 1.5rem) !important;
    margin-bottom: 2rem !important;
}

#dashboardClient .folder {
    height: 260px !important;
    border: 1px solid var(--border-color, #e0e0e0) !important;
    border-radius: 10px !important;
    overflow: hidden !important;
    text-align: center !important;
    cursor: pointer !important;
    transition: box-shadow 0.3s ease !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    position: relative !important;
    background-color: var(--background-color, #f8f9fa) !important;
    background-size: cover !important;
    background-position: center !important;
}

#dashboardClient .folder:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2) !important;
}

#dashboardClient .folder .title,
#dashboardClient .folder .inverse-title {
    margin: 0 !important;
    padding: 10px !important;
    width: 100% !important;
    position: absolute !important;
    bottom: 0 !important;
    border-radius: 0 0 10px 10px !important;
    text-align: center !important;
    font-size: 1.2rem !important;
    transition: transform 0.6s ease, background-color 0.6s ease, color 0.6s ease, opacity 0.6s ease !important;
    opacity: 0.8 !important;
}

#dashboardClient .folder .title {
    background-color: rgba(0, 0, 0, 0.7) !important;
    color: rgba(255, 255, 255, 1) !important;
    transform: translateX(0) !important;
}

#dashboardClient .folder .inverse-title {
    background-color: rgba(255, 255, 255, 0.9) !important;
    color: rgba(0, 0, 0, 1) !important;
    transform: translateX(100%) !important;
}

#dashboardClient .folder:hover .title {
    transform: translateX(-100%) !important;
}

#dashboardClient .folder:hover .inverse-title {
    transform: translateX(0) !important;
}

#dashboardClient .folder-description {
    margin-top: 1rem !important;
    padding: 1rem !important;
    border-radius: 10px !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05) !important;
    font-family: Arial, sans-serif !important;
    background-color: var(--folder-description-bg) !important;
}

#dashboardClient .folder-description p {
    margin: 0 !important;
    font-size: 0.9rem !important;
    line-height: 1.5 !important;
    color: var(--folder-description-text) !important;
}

#dashboardClient .title-section {
    margin-bottom: 2rem !important;
    text-align: center !important;
    font-weight: 700 !important;
    font-size: 2.5rem !important;
    color: #495057 !important;
    position: relative !important;
}

#dashboardClient .title-section::after {
    content: '' !important;
    display: block !important;
    width: 60px !important;
    height: 3px !important;
    background-color: #495057 !important;
    margin: 0.5rem auto !important;
}

.titreForma {
    position: relative;
    text-align: center;
    margin-bottom: 24px;
    font-size: 1rem;
    font-weight: 600;
}

@media (max-width: 992px) {
    #dashboardClient .folder-container {
        flex: 0 0 calc(50% - 1rem) !important;
    }
}

@media (max-width: 768px) {
    #dashboardClient .folder-container {
        flex: 0 0 100% !important;
    }
}


